SECRET_KEY=replace-with-a-long-random-secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=

# Local PostgreSQL option
DB_ENGINE=django.db.backends.postgresql
DB_NAME=sibisa
DB_USER=postgres
DB_PASSWORD=replace-with-your-password
DB_HOST=127.0.0.1
DB_PORT=5432
